<p>Hey, I'm Vince, a software engineer currently based in Eureka, MO.</p>
<p>I enjoy developing applications, websites, and anything of the sort.</p>
<p>I graduated from 'Ranken Technical College' in St. Louis, Missouri, with an associate's degree in IWT (Internet and
    Web-based Technology).</p>
<p>Continuing my education I, then graduated from UCM (University of Central Missouri) with a bachelor's degree in
    Computer Science.</p>
<br>
<h3>Tech skills</h3>
<p>
    HTML & CSS
    Java
    JavaScript
    TypeScript
    C#
    Angular
    Angular Material
    Python
    PHP
    SQL
    Agile
    GitHub
</p>