<mat-grid-list cols="1" rowHeight="600px">
    <mat-grid-tile id="about">
        <mat-grid-tile-header>About</mat-grid-tile-header>
        <mat-list role="list">
            <mat-list-item>
                I graduated with a bachelors in Computer Science from the University of Central Missouri. I believe that
                as a problem solver, that computer science was the right path for me. I enjoy the thrill of the hunt
                when it comes to researching problems, finding the core issue, solving them effectively and with great
                detail so that I can convey the information I find to others about my resolutions. I'm currently looking
                for my first full time position as a Junior Software Engineer that will let me take both my skills and
                passion and utilize them to bring value to the company that I work with. In my pastime, I enjoy spending
                time with my cat, relaxing with my family, playing video games, and self-improvement.
            </mat-list-item>
            <br>
            <h3>Tech skills</h3>
            <mat-list-item>
                HTML & CSS
                Java
                JavaScript
                TypeScript
                C#
                Angular
                Angular Material
                Python
                PHP
                SQL
                Agile
                GitHub
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>