<mat-sidenav-container class="sidenav-container">

  <!-- SideNav -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <!-- Navigation link list -->
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']">
      <a mat-list-item href="#intro">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item [routerLink]="['about']">
        <mat-icon>contacts</mat-icon>
        <span>About</span>
      </a>
      <a mat-list-item [routerLink]="['contact']">
        <mat-icon>email</mat-icon>
        <span>Contact</span>
      </a>
      <br>
      <a mat-list-item [routerLink]="['resume']" target="_blank">
        <mat-icon>list_alt</mat-icon>
        <span>Resume</span>
      </a>
      <a mat-list-item href="https://github.com/VinceVitale" target="_blank">
        <mat-icon svgIcon="github"></mat-icon>
        <span>GitHub</span>
        <mat-icon>exit_to_app</mat-icon>
      </a>
      <a mat-list-item href="https://www.linkedin.com/in/vincedvitale/" target="_blank">
        <mat-icon svgIcon="linkedin"></mat-icon>
        <span>LinkedIn</span>
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <!-- Navigation toolbar -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <!-- SideNav button toggle -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- Toolbar title -->
      <span>Vince D Vitale</span>

    </mat-toolbar>

    <!-- Display content dynamically -->
    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>