.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// Adds space before & after mat-icon
.mat-icon {
  padding-right: 20px;
  padding-left: 35px;
}

.mat-toolbar {
  font-size: 22px;
}

.side-nav-title {
  padding-left: 50px;
}

.mat-icon-menu {
  padding-left: 0px;
}