<mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile id="contact">
        <mat-grid-tile-header>Contact</mat-grid-tile-header>
        <mat-list role="list">
            <mat-list-item>
                <mat-icon>email</mat-icon>
                <span>Email: vincedvitale@gmail.com</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>phone</mat-icon>
                <span>Phone: (636)-346-5672</span>
            </mat-list-item>
            <a mat-list-item href="https://github.com/VinceVitale" target="_blank">
                <mat-icon svgIcon="github"></mat-icon>
                <span>GitHub.com/VinceVitale</span>
            </a>
            <a mat-list-item href="https://www.linkedin.com/in/vincedvitale/" target="_blank">
                <mat-icon svgIcon="linkedin"></mat-icon>
                <span>Linkedin.com/in/vincedvitale</span>
            </a>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>