.mat-grid-tile-header {
    font-size: 25px;
}

img {
    width: 100%;
    height: stretch;
    opacity: 30%;
    z-index: -1;
    position: relative;
    min-height: 578px;
}

.mat-grid-list {
    min-height: 578px;
}
