<mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile id="intro">
        <mat-grid-tile-header>Intro</mat-grid-tile-header>
        <mat-list role="list">
            <mat-list-item>
                Hey, my name is Vince Vitale.
            </mat-list-item>
            <br>
            <mat-list-item>
                I built this website using HTML & CSS, TypeScript, and Angular with Angular
                Material as a framework to display my software engineering skills.
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>